<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ADTConvert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ADTConvert.Properties.Settings>
            <setting name="ReleaseURL" serializeAs="String">
                <value>https://github.com/Luzifix/ADTConvert/releases</value>
            </setting>
            <setting name="ReleaseAPI" serializeAs="String">
                <value>http://api.github.com/repos/Luzifix/ADTConvert/releases</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/4.0 (Compatible; Windows NT 5.1; MSIE 6.0) (compatible; MSIE 6.0; Windows NT 5.1; ADTConvert </value>
            </setting>
        </ADTConvert.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
